/*
Social Integration Bar CSS
*/

.sib-wrapper {
	height: 50px;
	overflow: hidden;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 500;
	background-color: #222;
	min-height: 50px;
	line-height: 50px;
}
.sib-content {
	display: block;
	height: 100%;

}
.sib-toggle {
	display: block;
	float: right;
	color: #fff;
	height: 100%;
}

.sib-toggle a, .sib-toggle span {
	display: block;
	height: 100%;
}
